<main class="container">
  <section class="time-card" *ngFor="let item of timeData" [class]="setCardStyles(item.title)">
    <div class="content-wrapper">
      <header class="time-card__header">
        <p class="time-card__logo card-work">{{item.title}}</p>
        <button class="time-card__header-button">
          <!--        123<img src="" alt="options-button" class="time-card__button-icon">-->
        </button>
      </header>
      <div class="time-card__time-data time-data">
        <p class="time-data__hours">{{item.timeframes['daily'].current}}hrs</p>
        <div class="time-data__time-previous-container">
          <p class="time-data__time-previous">
            <span class="time-data__hours-previous">Last {{currentTimeFrame}} - </span>
            <span class="time-data__hours-previous">{{item.timeframes.daily.previous}}hrs</span>
          </p>
        </div>
      </div>
    </div>
  </section>
</main>

