@font-face {
  font-family: 'Rubik';
  src: url('~src/assets/fonts/Rubik-VariableFont_wght.ttf');
}

// user-card primary styles

.user-card {
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 160px;
  height: 340px;
  background: hsl(235, 46%, 20%);
  border-radius: 10px;
  box-sizing: border-box;
  font-family: Rubik, Arial, monospace;

  @media screen and (max-width: 768px) {
    height: 100px;
  }

  // user-info styles

  &__user-info {
    position: absolute;
    top: 0;
    width: 160px;
    height: 66%;
    padding: 10px 10px;
    box-sizing: border-box;
    background: hsl(246, 80%, 60%);
    border-radius: 10px;

    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 5px 10px;
    }
  }

  &__user-pic {
    margin-bottom: 30px;
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 100%;

    @media screen and (max-width: 768px) {
      margin: 0;
      width: 35px;
      height: 35px;
      border: 2px solid white;
    }
  }

  &__text-wrapper {
    margin: 0;
    padding: 0;
  }

  &__user-name {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: 300;
    color: white;

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }

  &__sub-title {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 300;
    color: white;
    opacity: .6;

    @media screen and (max-width: 768px) {
      font-size: 8px;
    }
  }

  // element w buttons styles

  &__period-control {
    position: absolute;
    bottom: 0;
    width: 160px;
    height: 33%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    box-sizing: border-box;

    @media screen and (max-width: 768px) {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    font-size: 12px;
    font-weight: 400;
    font-family: Rubik, Arial, monospace;
    color: hsl(236, 100%, 87%);
    opacity: .6;

    @media screen and (max-width: 768px) {
      font-size: 9px;
      padding: 0 10px;
    }

    &:hover {
      cursor: pointer;
      color: white;
      opacity: 1;
    }

    &:active {
      transform: scale(0.96);
    }
  }
}


