<main class="time-card" [class]="getCardClass(activityData.title)">
  <div class="content-wrapper">
    <header class="time-card__header">
      <p class="time-card__header-logo">{{activityData.title}}</p>
      <button class="time-card__header-button"></button>
    </header>
    <div class="time-card__time-data time-data">
      <p class="time-data__hours">{{activityData.currentTime}}hrs</p>
      <div class="time-data__time-previous-container">
        <p class="time-data__time-previous">
          <span class="time-data__hours-previous">Last {{getPeriodTitle()}} -</span>
          <span class="time-data__hours-previous">{{activityData.previousTime}}hrs</span>
        </p>
      </div>
    </div>
  </div>
</main>
